<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhilAPLiIolLqPo9bZ5JNYjxsoNI3nXk0</string>
	<key>GCM_SENDER_ID</key>
	<string>638757426107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sporthub</string>
	<key>PROJECT_ID</key>
	<string>sporthubdatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>sporthubdatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638757426107:ios:2e2f35550936685e04aa9e</string>
</dict>
</plist>